@import "styles/mixins.scss";

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);  
  transition: all 0.25s, opacity 0.25s linear;
  
  &.opened {
    visibility: visible;
    opacity: 1;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 30px;
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff; 
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); 
}

.close {
  position: absolute;
  top: -30px;
  right: -30px;
  min-width: 25px;
  min-height: 25px;
  padding: 0;
  border: 0;
  background-image: url(/close-icon-wht.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.line {
  width: 300px;
  margin-bottom: 25px;
  color: #000000;  
}

.fastview-title {
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
}

.fastview {
  display: flex;
  width: 100%;
  min-height: 260px;
  color: #000000;
}

.poster {
  width: 170px;
  height: 220px;
  padding: 5px;
  border: 1px #000000 solid;
  object-fit: cover;
}

.details {
  flex-grow: 1;
  padding: 0 15px;
}

.detail-title {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.detail {
  margin: 0 0 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
