@import "styles/mixins.scss";

.root {
  width: 35px;
  height: 35px;
  padding: 0;
  border: 1px #ffffff25 solid;
  border-radius: 5px;
  background-color: transparent;
  background-image: url(/details.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.6;
  cursor: pointer;

  @include hoverOpacity;

  @include mobile {
    opacity: 1;
    pointer-events: none;
  }
}