@import "styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  box-sizing: border-box;
  color: var(--grayscale-black);
}

.title {
  max-width: 410px;
  margin: 0 auto 5px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;

  @include mobile {
    font-size: 18px;
  }
}

.line {
  width: 300px;
  margin-bottom: 30px;
  color: var(--grayscale-black);
}

.buttons-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;

  @include small {
    flex-direction: column;
    gap: 10px;
  }
}

.submit {
  display: flex;
  min-width: 210px;
  min-height: 45px;
  padding: 0;
  margin: 20px auto 0;
  border: 0;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--grayscale-white);
  background-color: var(--primary-blue-deep);
  cursor: pointer;
  transition: background-color 200ms, opacity 200ms;

  &:hover {
    background-color: var(--primary-blue-navy);
  }

  &.inactive {
    background-color: var(--grayscale-grey);
    color: var(--grayscale-black);
  }

  &.inactive:hover {
    opacity: 0.8;
    cursor: auto;
  }

  @include small {
    margin-top: 0;
  }
}

.delete {
  background-color: var(--primary-red-dark);

  @include hoverBackgroundColor(var(--primary-red-light));
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.error {
  min-height: 12px;
  margin-bottom: 15px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  color: var(--primary-red-error);
}
